@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:300,400,900");

body {
  font-family: $ff-trebuchet;
  font-size: 1rem;
  line-height: 1.6;
  color: gray(4);
  font-weight: $fw-light;
  text-align: center;
  @include mq(small) {
    font-size: 1.125rem;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}