@mixin mq($size) {
  $value: map-get(
    $map: $breakpoints,
    $key: $size
  );
  @media only screen and (min-width: $value) {
    @content;
  }
}

@mixin grid($cols: 4) {
  display: grid;
  grid: auto-flow / repeat($cols, 1fr);
  grid-gap: $spacer;
  max-width: 1200px;
}
